<h1>Filial</h1>

<%= @subsidiary.name %>
<%= @subsidiary.cnpj %>
<h3>Endereço</h3>

<dl class="row">
  <dt class="col-sm-3">Endereço</dt>
  <dd class="col-sm-9"><%= @subsidiary.address.label %></dd>

  <dt class="col-sm-3">Complemento</dt>
  <dd class="col-sm-9"><%= @subsidiary.address.complement %></dd>

  <dt class="col-sm-3">Bairro</dt>
  <dd class="col-sm-9"><%= @subsidiary.address.neighborhood %></dd>

  <dt class="col-sm-3">Cidade</dt>
  <dd class="col-sm-9"><%= @subsidiary.address.city %></dd>

  <dt class="col-sm-3">Estado</dt>
  <dd class="col-sm-9"><%= @subsidiary.address.state %></dd>
  
  <dd class="col-sm-9"><%= link_to 'Editar', edit_subsidiary_path, class: 'btn btn-primary' %></dd>
</dl>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Category.model_name.human %></th>
      <th scope="col"><%= RentalPrice.human_attribute_name('daily_rate') %> </th>
      <th scope="col"><%= RentalPrice.human_attribute_name('daily_car_insurance') %></th>
      <th scope="col"><%= RentalPrice.human_attribute_name('daily_third_party_insurance') %></th>
    </tr>
  </thead>
  <tbody>
      <% @rental_prices.each do |rental_price| %>
  <div class=<%= "rental_price#{rental_price.category.id}" %>>
      <tr>
        <td><%= rental_price.category.name %></td>
        <td><%= number_to_currency rental_price.daily_rate %></td>
        <td><%= number_to_currency rental_price.daily_car_insurance %></td>
        <td><%= number_to_currency rental_price.daily_third_party_insurance %></td>
      </tr>
  </div>
      <% end %>
  </tbody>
</table>
