<h1>Nova locação</h1>
<% if @rental.errors.any? %>
  <div class='alert alert-danger'>
    <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message  %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @rental do |f| %>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><%= Rental.human_attribute_name('start_date') %></span>
  </div>
  <%= f.date_field(:start_date, class: 'start_date form-control', describedby:'basic-addon1') %>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2"><%= Rental.human_attribute_name('end_date') %></span>
  </div>
  <%= f.date_field(:end_date, class: 'end_date form-control', describedby:'basic-addon2') %>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01"><%= Rental.human_attribute_name('client') %></label>
  </div>
  <%= f.collection_select(:client_id, @clients, :id, :client_description, {}, { class: "custom-select", id: "inputGroupSelect01" }) %>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect02"><%= Rental.human_attribute_name('category') %></label>
  </div>
  <%= f.collection_select(:category_id, @categories, :id, :name, {}, { class: "custom-select", id: "inputGroupSelect02" }) %>
</div>
  <%= f.submit 'Agendar' %>
<% end %>
