<%= form_with(model: addon, local: true) do |f| %>
  <% if addon.errors.any? %>
    <div class="errors">
      <h2><%= t('errors.template.header', model: Addon.model_name.human, 
                count: @addon.errors.count) %></h2>

      <ul>
        <% addon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
